*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    margin:0;
    padding: 4px 0;
}

.container{
    margin: 30px;
}
#comment-container{
    margin: 10px;
}

.comment-content{
    background-color: aliceblue; 
     padding: 15px; 
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 15px;
}

.mainComment{
    border-radius: 4px;
    display: flex;
    margin-bottom: 15px;
}

.subComments{
    margin-left: 50px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-content{
    margin-left: 15px;
}

.text-bold{
    font-weight: bold;
}

input[type=text] {
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .submit-btn{
    display: block;
    margin: 7px 0;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 5px;
  }

.btn{
        background-color: #008CBA;
        border: none;
        color: white;
        padding: 5px 6px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;
        cursor: pointer;
        border-radius: 5px;
}

.global-nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
}

.github-img {
    width: 35px;
    height: 35px;
    vertical-align: text-bottom;
}

.global-nav::after {
    content: '';
    position: absolute;
    width: 110%;
    bottom: 10px;
    left: -5%;
    box-shadow: 0 5px 0 2px grey;
}
.project-title{
    margin: 20px 0;
}